[2018-01-06 09:35] maxceem opened #9 "[$60] Notifications from CoderBot are not created correctly"
One of the notifications is being created in a wrong way when new event `joan-26673.notifications.connect.project.post.created` arrives. And the next INSERT query is performed:
[code]
It contains `'CoderBot'` value for the column `userId`. But is has to contain a numeric `userId` instead. Because of this the query fails.

The whole log when event `joan-26673.notifications.connect.project.post.crea

[2018-01-06 10:58] maxceem commented on #9
@gondzo I don't know if anybody got notified about new issues here. So I tag you just in case.

[2018-01-06 12:51] gondzo commented on #9
thank you for reporting.
can we just set -1 for userId and keep Coder Bot for handle and full name?

[2018-01-06 12:53] gondzo commented on #9
or the issue here is that tcwebservice is renamed to Coder Bot and added to userId instead of handle?

[2018-01-06 13:08] maxceem commented on #9
I'm not sure how it happens.

- I run `tc-notifications` locally
- Open https://connect.topcoder-dev.com/projects/2378 and reply to some post
- In the `tc-notifications` console I see how the next message comes:
[code]
- `tc-notifcation` creates two notifications and try to insert them to DB
- A good one
[code]
- And a bad one where instead of `userId` which has to be number there is 'CoderBot'
[c

[2018-01-06 13:10] maxceem commented on #9
Got it.
When we request topic details it returns 'CoderBot` as a `userId`
[code]

[2018-01-07 00:08] maxceem commented on #9
Just in case. I can fix it.
But this behavior is different from what was before so I'm not what was the reason for changes and where it should be fixed:
- userId in topic DB records
- filter out such messages at all in `tc-notifications`
- process such messages in `tc-notifications` in some way

[2018-01-07 09:35] gondzo commented on #9
I think the cause is in recent changes to tc-message service
for now we can just use some invalid userId in tc-notifications when we get a non integer user id

[2018-01-08 00:35] maxceem commented on #9
This userId defines the user which will get the notification. If we always define invalid userId and put into the DB, then we will save notification which nobody will ever get. Probably we can skip such notifications and don't add them to the DB at all. What do you think?

[2018-01-08 01:04] gondzo commented on #9
ah, so the notification was meant for CoderBot user ? if so, we can just
skip those notifications

On Mon, Jan 8, 2018 at 1:35 AM, maxceem <notifications@github.com> wrote:

[2018-01-08 01:22] maxceem commented on #9
Can we filter only 'CoderBot' userIds? So if non-integer value comes in some other situation we can see an error.

[2018-01-08 08:55] gondzo commented on #9
yes, that is even better

[2018-01-09 09:31] maxceem commented on #9
This is done by [PR#15](https://github.com/topcoder-platform/tc-notifications/pull/15)

Cannot assign `Ready for Review` label here.

[2018-01-09 13:35] gondzo opened #16 "[$60] Database migrations"
We need to create migrations for the database.
Initial db state should be the one before we added version column to notifications table, and the first migration should be adding the version column. We'll use this when releasing the next version to prod

[2018-01-12 01:25] maxceem commented on #16
Is that ok to use something like [npm db-migrate](https://www.npmjs.com/package/db-migrate), to manage migrations?

[2018-01-12 01:32] gondzo commented on #16
I'd preferr sequelize cli, same as tc-message-service
https://github.com/topcoder-platform/tc-message-service

[2018-01-16 04:47] mtwomey opened #18 "Figure out what to do with "old" notificaitons"
We don't want them building up in the DB "forever".

Some thoughts:

1. When a Connect project closes, delete all associated notificaitons
2. Delete unacknowledged notifications after some long period of time (like 6 months or something...)

[2018-01-22 09:38] vikasrohit commented on #18
2 Sounds good to me. For 1, I would like to keep a buffer period of 1-3 months after closing of the project before deleting the notifications.

[2018-03-18 18:33] #9 closed

[2018-03-18 18:33] gondzo commented on #16
No need folr migrations ATM

[2018-03-18 18:33] #16 closed

[2018-04-26 12:17] vikasrohit opened #37 "Support multiple mentions - right now it only sends mention event for first mention in the post"
@gondzo can you please take care of it?

[2018-05-04 10:31] gondzo opened #38 "Refactor logic of email notification handling"
Extract logic of email notification handling to a separate handler instead of directly coding it in app.js.

[2018-05-04 10:47] gondzo opened #39 "Handle user mention in post update event"
Handle user mention in post update event

@vikasrohit I think we're handling updates correctly in tc-notifications

https://github.com/topcoder-platform/tc-notifications/blob/d8b60beb4b97b44acb2fae9fff202c4a1f9a0747/connect/events-config.js#L123

[2018-05-04 10:53] gondzo opened #40 "Bundling support for email notifications and email settings"
Add support for bundling emails end email settings.

Notifications settings endpoints should be updated to save preferences for emails (same as what we are doing for web preferences now). Additionally, there should be a bundle setting for emails with options: no bundling, 10 minutes, 1 hour, 24 hours, weekly (these should be configurable levels).
When a notification is created, email should not be

[2018-05-04 12:02] gondzo opened #41 "Support multiple mentions"
Support multiple mentions - right now it only sends mention event for first mention in the post

[2018-05-04 12:03] #41 closed

[2018-05-04 17:43] vikasrohit commented on #39
Yes, I thought we are not. Actually mention was not working because of mismatch regex of markdown. It assumed post to be in cooked format always while now we have only raw format which is in markdown format.
Closing the issue, we just need to support multiple mentions.

[2018-05-04 17:43] #39 closed

[2018-05-05 12:42] vikasrohit commented on #40
`notifications.action.email.connect.project.bundled` is created in kafka.

[2018-05-08 05:28] sachin-maheshwari opened #43 "Consumer stuck in unknown condition"
Observed two times that service was up and running but there is no increment in corresponding DB row. That is only possible if consumer stop consuming the messages. Restarting the instance is work around solution.
We need to investigate the root cause.

[2018-05-08 08:21] gondzo opened #44 "Topic missing in Kafka"
When starting tc-notifications and connecting to dev Kafka, there is a warning message that one topic doesn't exist - `notifications.connect.project.post.mention`

@sachin-maheshwari @vikasrohit can you check dev/prod Kafka and create it if necessary?

[2018-05-08 08:25] sachin-maheshwari commented on #44
done..created on both

[2018-05-08 08:25] #44 closed

[2018-05-08 09:04] maxceem commented on #38
1. Regarding source code, notifications are being sent by email only after they are saved in the DB.

[code]
I don't see any reasons why these actions couldn't be done in parrallel. Even if saving notification to the DB fails, looks like there are no reasons to stop sending email.

@gondzo  Do you know any reasons I'm missing not to make it parrallel?

[2018-05-08 09:28] vikasrohit commented on #38
Yes @maxceem, you are right. That is what the purpose of this issue/task is. However, right now while saving notifications in database, code validates different events and might alter the event type e.g. in case of a user's handle in mentioned in a post, it changes the event type to MENTIONED_IN_POST from POST_CREATED and the email sending logic is using that updated event type.
What we are thinki

[2018-05-08 10:37] maxceem commented on #40
1. Should we be able to config bundling time per notifications type? or for all notifications types there is same bundling time?

2. Should we bundle notifications of all types to one email? Or we bundle separately notifications of different types?

3. Do you know any good module for scheduling jobs for node?
    As I understand we need our job to be persistent between service relaunches, so the s

[2018-05-08 11:03] maxceem commented on #40
4. For example we bundle notifications by 24 hours. Should we count 24h from some fixed time, like all notifications which comes from 00.00 till 23:59. Or from the first notification time occure, so if we got some first notification at 3:47am, than we wait 24h since than, and after we send the bundle at 3:47am the next day.

[2018-05-08 13:00] vikasrohit commented on #40
Great questions @maxceem.!

1 and 2 we should group config and bundle per notification server e.g. in
this case connectNotificationServer.

3. We are thinking of using node cron module for scheduling and simple
storage of all job runs in existing posters db. Or you can try quartz with
posters. Still I would prefer simple node cron unless there is a specific
reason.

4.I would come back for this. @

[2018-05-08 14:07] maxceem commented on #40
5. Is it possible to obtain long last admin token for dev environment to configure `TC_ADMIN_TOKEN`?
    The one that provided in the [docs](https://github.com/topcoder-platform/tc-notifications) is expired. And if I create by myself they expire in few minutes and I have to create again.

[2018-05-09 01:24] maxceem commented on #40
6. As I understand from 1 and 2 in one bundled notification could be notifications about different posts and projects. How in this case should we build `replyTo` email address? So far it's created for one particular topic.
[code]

[2018-05-09 01:29] maxceem commented on #40
7. SImilar to previous one. What do you think we should put to email `from` name? Currently we put the handle of the user who triggered the event. For example user who added some post. In bundled email could be posts from various users.

[2018-05-09 04:51] vikasrohit commented on #40
We don't want users replying bundled emails. Please use `noreply AT topcoder DOT com`.

We don't need the name here. Just use the same `noreply AT topcoder DOT com`

[2018-05-09 08:27] maxceem commented on #40
8. Do you have any preferences what should be a bundled event payload? So far I'm thinking to have values like `recipients`, `replyTo`, `cc`, `from`, `categories` only one per events as it is. And send `data` as arrays of `data` of all bundled events:

   ![event-payload](https://user-images.githubusercontent.com/146016/39804090-aea82244-53a5-11e8-9dff-82114641933d.png)

   Do you have any require

[2018-05-09 08:40] gondzo commented on #40
4. I think just having fixed intervals should be good enough, without taking into account when the first notification was created. For daily and weekly intervals, it would be good to configure time of day that we send the emails (so we don't end up sending all emails at midnight)

[2018-05-09 08:45] gondzo commented on #40
8. I'm not really sure here - we use sendgrid templating to populate the email using that data field, but looks like they don't yet support loops in templates https://github.com/sendgrid/sendgrid-nodejs/issues/221

As I see it, we can either
- create the final HTML in notifications service (containing the entire list of emails),  or
- add loop support to our email service (manually unroll sendgrid

[2018-05-09 10:17] vikasrohit commented on #40
@maxceem Nice approach.

I have few queries though:

1. How the bundle id would be generated? And who would generate it?

2. instead of removing the sent events, can we just update the status 'completed'?

3. Event coming in the system (current version of tc-notifications) won't be something like `notifications.action.email.connect.project.bundled` but would be like `notifications.connect.project.

[2018-05-10 09:45] vikasrohit commented on #38
Excellent question @maxceem In fact that is my intention in getting this refactoring done. Ideally this code in app.js should belong to the `connectNotificationServer`.  Right now I am not sure how we are going to separate the specific implementation of notification servers, but I think we can definitely utilize https://github.com/topcoder-platform/tc-connect-notifications to host the connectNotif

[2018-05-10 10:11] maxceem commented on #38
@vikasrohit great, so far I've moved all the code related to connect from `/src` to `/connect`.

[2018-05-11 04:53] maxceem commented on #37
@gondzo
When I create a post https://connect.topcoder-dev.com/projects/2000 and mention some people. I get only `notifications.action.email.connect.project.topic.created` event in my locally deployed `tc-notifications` service. It looks like mention events are not being sent to the KAFKA at all.

[2018-05-11 05:01] vikasrohit commented on #37
@maxceem We don't send mention event from message service rather tc-notifications actually parses the content of the new topic/post in case of `notifications.action.email.connect.project.topic.created` or `notifications.action.email.connect.project.post.created` events and internally changes the event type when sending email to the team members. So, yes, it does not send any event to the bus right

[2018-05-11 05:11] vikasrohit commented on #40
We can store the target entity id with column name like `referenceId` and `reference` e.g. for a topic created event we can have `reference=topic` and `referenceId=<id of the topic>`. That would also help us in debugging production issues quickly. I am not sure if we can populate these two fields always for all events but I think we can. Let me know if you or @gondzo have any case where these fiel

[2018-05-11 06:07] maxceem commented on #37
@vikasrohit thank you. I've missed that moment. I think it's totally fine to keep like it's done now. Will make sure mentions are processed correctly.

[2018-05-11 07:51] maxceem commented on #40
@vikasrohit I don't see any problem with adding `reference` and `referenceId`, I'll keep them optional, though.
So the final scheme would be:

![image](https://user-images.githubusercontent.com/146016/39912963-e593f574-5532-11e8-9d9f-810f4d5cc167.png)

yes, `connect-app`

[2018-06-08 02:49] #40 closed

[2018-06-08 02:50] #37 closed

[2018-06-08 03:06] gondzo opened #51 "Support for all email events"
Right now, email notifications are enabled only for post events (topic created/updated, post created/updated). The scope here is to add support for the remaining events. Full list of supported events is available at https://github.com/topcoder-platform/tc-notifications/blob/48d9a203992f1cb3cc20f587c71e44e8bb27d63e/connect/events-config.js#L48

There are two modes of sending email notifications - i

[2018-06-10 14:11] ngoctay commented on #51
1. Do we need "relevant user id"? I see in the current code, we have "handle" and "authorHandle" already.

2. The project service only sends fileName, I checked the tc-project-service. I will add **fileUrl** to the code, but please double check with tc-project-service.

3. For "link name and url", tc-project-service only sends "projectId", "projectName", "userId", "initiatorUserId". I will add **l

[2018-06-10 14:51] ngoctay commented on #51
I don't see "notifications.connect.project.updated" anywhere.
Do we need to add this to event-config?

[2018-06-12 07:40] gondzo commented on #51
@vikasrohit can you create these topics in Kafka for the new email types (and also, email templates in sendgrid)

CREATED: 'notifications.action.email.connect.project.created',
      SUBMITTED_FOR_REVIEW: 'notifications.action.email.connect.project.submittedForReview',
      APPROVED: 'notifications.action.email.connect.project.approved',
      ACTIVE: 'notifications.action.email.connect.project.a

[2018-06-16 11:38] vikasrohit commented on #51
@gondzo Kafka topics are created. I am creating sendgrid email templates. Would update you once done.

[2018-06-17 13:48] vikasrohit commented on #51
@gondzo long journey of mundane task of email templates is completed. 😬 I still need to update the email service with these templates. However, I have noticed that we are creating too many templates now and sendgrid does not seem to be good at manager transaction templates at least and we are kind of getting confused between production and dev email templates. Do you think there is better way to o

[2018-06-17 13:53] vikasrohit commented on #51
@rmjmccormick @vic-topcoder I would like to have product views as well here as these are new emails which has potential of improving the customer experience but it can annoy them as well if don't use correct email templates or send too many emails which are difficult to organize.

[2018-06-17 18:31] gondzo commented on #51
I think keeping email templates in sendgrid makes sense if multiple services will send same type of email (ie use same template). Otherwise, keeping main email styling in sendgrid template and populating it with raw contents (both html and plain) would be more productive. We're designing new email templates anyway https://github.com/appirio-tech/connect-app/issues/2048 so it would be a great oppor

[2018-06-18 02:43] vikasrohit commented on #51
Thanks @gondzo. Yes, it makes sense to have templates in sendgrid when it is being used by multiple services, however, I think we need templates even if single service is going to send emails using that templates because we don't want to build and deploy to production just to update a template which would be the case if we don't keep templates in a repository like sendgrid. And I think that would

[2018-07-08 20:33] gondzo commented on #51
@vikasrohit since sendgrid templates don't support logical expressions, we still need to build the html content in our services (as we're doing right now for bundled emails https://github.com/topcoder-platform/tc-notifications/blob/48a2e230cc634611eb8b28180cd43f8ba77fe30d/connect/notificationServices/email.js#L47 ), so we definitely need to update code if we want different data in the email.

Anot

[2018-07-09 06:48] vikasrohit commented on #51
Agreed. However, having templates in sendgrid at least provides some common header/footer e.g. we can put topcoder signature and unsubscribe link via templates. Having said that, I think we should try to keep the number of templates minimum for the time being so that we have less to maintain and we can do that by creating a single template for all project updates (including member join/left events

[2018-07-17 11:55] sachin-maheshwari commented on #43
@vikasrohit we ran the challenge for same but didn't get the any suggestion.
Please note last when you reported the missing messages issue, that time consumer was running fine. Also I didn't see this consumer stuck issue from some time - but it could be because we are releasing frequently.

[2018-07-17 12:12] sachin-maheshwari opened #57 "Optimisation - project detail api call can be optimized by avoiding attachment detail."
Current call is fetching 'attachment' details along with project detail. For 'attachment' detail, there is another back-end API (ap-file service) call, which can be avoided as we are not using 'attachment' detail anywhere in notification, we are using only associated members with project to send notifications.
https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/service.js#L21

[2018-07-17 12:12] vikasrohit commented on #43
@sachin-maheshwari I usually restart the tc-notifications in 3-4 days to keep emails going to the customer, we can not afford missing emails in every other week. :)

[2018-07-17 12:17] sachin-maheshwari commented on #57
@vikasrohit can you please verify whatever I mentioned in description is doable ?

[2018-07-20 15:53] gondzo opened #59 "Email templates support"
Two tasks are in scope of this issue:
- add email support for all event types (we support only topic/post events now)
- add email templates support for all emails (this affects how we send the emails, so it's a good idea to complete this task first)

**Emails for all event types**

Right now, email notifications are enabled only for post events (topic created/updated, post created/updated). The sc

[2018-07-20 15:53] gondzo commented on #51
Closing this one and continuing discussion at #59

[2018-07-20 15:53] #51 closed

[2018-07-20 15:54] gondzo commented on #59
Note: we can use `notifications.action.email.connect.project.specificationModified` for all emails at the moment (this event has the above sendgrid template).

[2018-07-21 22:32] gondzo commented on #59
i forgot to attach it. here it is

[email-connect (1).zip](https://github.com/topcoder-platform/tc-notifications/files/2216560/email-connect.1.zip)

[2018-07-21 22:45] architectt1 commented on #59
Should we use a single email template with logic in it to be able to display the aforementioned data for each event type?

[2018-07-22 00:13] gondzo commented on #59
Is it easier to add the html for all notifications first and then inline all the css - at build time we don't know all the contents of the email?

[2018-07-22 00:20] gondzo commented on #59
Maybe we could use handlebars templates for each event type - they should be easy to maintain in the future (just a suggestion)?

[2018-07-22 01:43] gondzo commented on #59
OK, build time inlining is fine then.
Mustache vs handlebars - it's up to you, both will serve the purpose here

[2018-07-22 16:05] architectt1 commented on #59
I have some questions:

Please confirm my understanding of this is correct: on a period basis (current logic of bundled notifications in this project), we should send a single email with a section for each project, and in each of those sections, a section for each group of notification type as defined in [here](https://github.com/appirio-tech/connect-app/blob/e77f7d0a7daf4efbc1301f943fd1c6a8394f02

[2018-07-22 17:49] gondzo commented on #59
You're right on all of those.
We can keep the last requirement out of scope for now and implement it
later on (single notification for same event types)

On Sun, Jul 22, 2018, 18:05 architectt1 <notifications@github.com> wrote:

[2018-07-23 06:59] vikasrohit commented on #59
later on (single notification for same event types)

I think we already handling this by showing the count of such events against that event [here](https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/notificationServices/email.js#L52).

[2018-07-24 03:49] architectt1 commented on #59
@gondzo @vikasrohit I closed my previous PR and created a new one with just the solicited changes. That should make reviewing easier.

[2018-09-10 10:24] gondzo opened #63 "Unsubscribe link"
In the current emails we have two links to unsubscribe - one at sendgrid and one at connect
![image](https://user-images.githubusercontent.com/3051646/45292086-67207380-b4f4-11e8-8a13-0440f0622f2c.png)

@vikasrohit can we remove the sendgrid link? I'm not sure where in sendgrid is it configured

[2018-09-11 05:49] vikasrohit commented on #63
@gondzo Its difficult to remove the sendgrid one because that is present in the compulsory unsubscribe section of emails. If we remove that, we have to add the unsubscribe option to each and every other template where we require unsubscribe option.

I think we are okay with these two options because `Notification Settings` lets the user choose the specific event they want to op in or opt out while

[2018-09-11 05:49] vikasrohit commented on #63
@vic-topcoder @acshields your thoughts?

[2018-09-11 08:39] gondzo commented on #63
The main issue I have with that unsubscribe link is that there is no way to undo that if I click it accidentally. Maybe we could also add sendgrid subscription preferences link too https://sendgrid.com/docs/ui/sending-email/recipient-subscription-preferences/ (I'm not sure if this will let the user subscribe again after he unsubscribed, but it sounds like it)

[2018-09-11 08:48] vikasrohit commented on #63
I guess that is product call. IMO, the global unsubscribe link is more or less for legal compliance while our `Notification Settings` allows users to unsubscribe/subscribe from specific group of emails. Now, if we use Sendgrid's email preferences, that might cause confusion to the users and we might have to provide an integration between Sendgrid and our email preferences. So, I would rather not l

[2018-09-11 15:53] acshields commented on #63
@vikasrohit - agreed with your assessment.

[2018-09-12 05:14] vikasrohit commented on #63
Thanks @acshields for the confirmation. Closing the issue @gondzo.

[2018-09-12 05:14] #63 closed

[2018-09-12 07:22] vikasrohit opened #65 "Bundling support per event group"
@gondzo we might need the support of bundling the notification emails per event group i.e. user should be able to configure separate bundling settings for `Posts and replies`, `Team Changes` etc. I think adding one column (may be named as `Bundled`) just like `web` and `email` which would again be a switch to determine if user wants to enable the bundling for that particular event group. OR just r

[2018-10-01 13:18] gondzo opened #69 "Mentions are rendered as links in emails"
User mentions are rendered as links in notification emails and they point to and invalid link like `http://users/gondzo`. Maybe it would be better to update draftjs mention plugin in connect app to not create links in the first place. Alternative is to remove the links in tc-notifications only.

[2018-10-16 07:21] vikasrohit opened #70 "Do NOT send emails to inactive users"
Seems like we are sending emails to inactive users as well.

[2018-10-18 09:01] vikasrohit opened #71 "Do NOT generate notifications for inactive users"
This is with reference to #70. Although, we are handling it before sending emails, ideally we should not have generated notifications for inactive users. Purpose of this task is to stop generating notifications for inactive users. This would require us to query user details (status for now) when generating notifications.

[2018-10-18 10:12] vikasrohit commented on #70
Fixed. Deployed in dev.

fyi @RishiRajSahu

[2018-10-18 10:12] #38 closed

[2018-10-18 10:14] vikasrohit commented on #65
Fixed with new UI as per https://github.com/appirio-tech/connect-app/issues/2522

[2018-10-18 10:14] #65 closed

[2018-10-18 10:15] vikasrohit commented on #59
@gondzo we can close this one now, right?

[2018-10-18 10:16] #70 closed

[2018-10-18 10:32] gondzo commented on #59
yes

[2018-10-18 10:32] #59 closed

[2018-10-22 04:51] maxceem opened #72 "connect.action.timeline.adjusted is not handled"
`connect.action.timeline.adjusted` event is generated in `tc-project-service` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/constants.js#L104 and is handled in `connect-app` https://github.com/appirio-tech/connect-app/blob/dev/src/routes/notifications/constants/notifications.js#L509.

But it's not handled in `tc-notifications` thus won't appear in `connect-app`.

[2018-10-23 09:19] maxceem commented on #72
@vikasrohit FYI, I'll send this event `connect.action.timeline.adjusted` only to copilot/manager users. Let me know if owner/member also have to get it.

[2018-10-23 09:29] vikasrohit commented on #72
I guess, as this notification is going to be hidden for all users, we can listen it for all users. It would allows us to show the visual cue for customers as well which I think is more important because mostly it would a copilot/manager who would be doing the changes and customer needs to know that there is a change in the timeline.

[2018-10-23 09:57] maxceem commented on #72
@vikasrohit created a PR https://github.com/topcoder-platform/tc-notifications/pull/73

[2018-10-23 11:09] vikasrohit commented on #72
@maxceem PR is merged, let me know if you are still seeing any issue with this event.

[2018-10-23 12:04] vikasrohit opened #74 "Separate task deployment for API and event bus consumers"
This is to make the two portions decoupled and make consumers fault tolerant. As of now, if due to a runtime error consumers dies, ECS does not know that and never starts a new task for it. It causes missed notifications till we restart the process again.

[2019-01-16 11:57] gondzo opened #81 "Empty email for new project links"
New project links email doesn't have any data (user name is empty, links aren't listed)

![image](https://user-images.githubusercontent.com/3051646/51247684-32cf2f00-198e-11e9-8fab-25250bcc01bc.png)

[2019-01-16 12:03] vikasrohit commented on #81
@gondzo Yes, we identified this earlier and applied a patch for this. Are you still facing the same issue?

[2019-01-16 12:03] gondzo commented on #81
yes, got the email an hour ago.

[2019-01-17 05:10] vikasrohit commented on #81
Thanks @gondzo for bringing to notice, applied patch for it. Let us know if you still see the same.

[2019-01-17 10:31] maxceem commented on #72
@vikasrohit by the code it seems everything is ok, but this event `connect.action.timeline.adjusted` doesn't come to me in Connect app, even though I can see this event is generated by `tc-project-service`. I've tried to reproduce it locally by deploying `tc-notification`, but it depends on `tc-project-service` so it's a little bit hard to test it locally.

[2019-01-29 10:55] gondzo opened #85 "Phase updates"
At the moment we send out phase updates to all users even though customers don't see draft phases in connect. We would need some logic to check which users should get the updates.

It would be great if we could share such checks with connect-app since we will have more and more such cases in the future. I'm not sure if having a small common package for permission checks would be helpful here ? any

[2019-02-11 12:14] #85 closed

[2019-03-08 09:59] gondzo opened #94 "Empty emails"
I still occasionally receive emails with only project name with no actual notifications inside, ex
https://www.screencast.com/t/bTInb62Adh

@vikasrohit can you take a look at the email logs to check which events were sent there?

btw, maybe it would be a good idea to list all notification types covered by email templates and when sending an email log a warning or error if we run into a notificatio

[2019-03-08 12:22] vikasrohit commented on #94
@gondzo could you give me exact time stamp of the email?

[2019-03-08 12:24] gondzo commented on #94
Mar 8, 2019, 02:00 EDT

[2019-03-08 15:20] gondzo commented on #94
another idea for keeping track of these issues:

current templates are using a bunch of if statements to find the right template - we could use if/else if with a final else block that would render some error text. We could then render the template in our backend to check for error text and log it appropriately. This kind of defeats the purpose of having templates in sendgrid but is the only automa

[2019-03-09 15:09] gondzo opened #95 "Notifications for copilots for approved projects"
We used to send notifications to all copilots about new projects that are approved, but now that we have a copilot manager, maybe we shouldn't create those notifications? Copilots can't see the project page without joining anyway, so better to remove these?
https://github.com/topcoder-platform/tc-notifications/blob/8645140cad9690880409891bd1c621addf50abfb/connect/events-config.js#L61

[2019-03-11 05:10] vikasrohit commented on #95
Yes, seems logical to me. Waiting for product team and copilot managers to give green signal.

[2019-04-09 05:34] maxceem commented on #72
@vikasrohit this event comes to Connect now. So this issue is fully resolved now.

[2019-05-03 09:02] vikasrohit commented on #94
I think idea about having `if-else-if` instead of separate `if-else` blocks, might be good way to have some kind of differentiation between a valid email and an erroneous email. However, instead of rendering the template at backend, we can rather have a test account/email (or I can use mine real account as well) to receive all notification emails and then parse that email to look for the specific

[2019-05-03 09:05] gondzo commented on #94
that would work as well. any ideas for the error text to use? maybe a hidden div element so it's not visible to the actual recipients?

[2019-05-03 11:48] vikasrohit commented on #94
Yes, we have to make it hidden either by making background and text color same OR actually setting `visibility:hidden`. Once it is hidden, we can use any error text. I would like to use constant style text for this e.g. `NO_RENDERER_FOR_EVENT` and we can append this text with actual event topic so that we can get all information from the template it self.

[2019-05-08 03:25] maxceem opened #114 "Unit testing"
This project doesn't have unit testing setup at the moment.

It would be good to have unit tests for this project because:
- This project is not easy to fully setup up locally, so having unit tests would help to validate fixes for small issues without the necessity of the full local project setup.
- The project is growing and adding more code may lead to breaking existent code (regression issues).

[2019-05-08 04:53] vikasrohit commented on #114
Good time to surface this concern @maxceem. @sachin-maheshwari is already in process of kind of rewriting this application as generic as possible and make it independent of Connect or any other app. So, it might be good time for introducing the unit tests with the new code he is writing.

[2019-05-08 07:02] maxceem commented on #114
Great to know about code rewriting. Maybe it could worth introducing unit tests **before** the code is rewritten if we can reuse these unit tests in the new code too. This way we could verify that new code keeps the functionality we have in the old code.

But it would depend on how the new code is different from the old code if we can reuse unit tests or no.

Basically, our unit tests may work mor

[2019-05-08 07:31] vikasrohit commented on #114
Yes, ideally integration tests should work just fine even after rewrite. However, unit tests would be significantly different I guess here because code rewrite would require deleting few old files, introducing new files and essentially it is introducing a framework kind of classes/files which would allow introducing more and more applications to consume notifications easily.

Also, for integration

[2019-05-09 16:24] gondzo opened #115 "Missing notifications"
I've noticed that I didn't get notifications for one specific project - 9883
@vikasrohit @sachin-maheshwari any way that we can investigate this?

I did get the web notification (ex notification ID 255503), but no email

[2019-05-10 08:47] vikasrohit commented on #115
@sachin-maheshwari I was debugging the issue with missing email for @gondzo for the said project and found that `tc-notifications` successfully raised the event `notifications.action.email.connect.project.notifications.generic` at `2019-05-06T12:42:23` UTC time. However, I am not able to find a corresponding log in `tc-message-service` logs. In fact I am not able t find any log (without any filter

[2019-05-14 12:24] gondzo commented on #115
This is still an issue on this same project, but I've noticed that I (and everyone else on the project) do get notified of posts of topcoder users, but don't get any notifications for posts by SSO users (client). Could that be a clue?

[2019-05-15 06:48] vikasrohit commented on #115
Thanks for more insights @gondzo. Just double checking, you are not receiving notifications for posts made by Customers (most probably who are logging in as SSO user), right?

[2019-05-15 06:49] gondzo commented on #115
yes, correct

[2019-05-15 07:14] vikasrohit commented on #115
@gondzo could you please also let me know one specific post for which you didn't receive the email notification?

[2019-05-15 07:24] gondzo commented on #115
last post in that project - "I have read and approve the challenge spec.
Thank you. "

On Wed, May 15, 2019, 09:14 vikasrohit <notifications@github.com> wrote:

[2019-05-15 10:21] vikasrohit commented on #115
THanks @gondzo It seems the the kafka consumer got killed (or at least stopped listening) because of some error in parsing one of the bus event. And the AWS ECS didn't consider it as dead task because the email scheduler is still running on the same machine.
For now I have restarted the task, however, we need to find a way to get the task restarted automatically by ECS when such thing happens agai

[2019-05-15 12:25] vikasrohit opened #121 "Escape ElasticSearch special characters when sending search request to member api"
As of now, when whenever we making query for user via handle, we are not escaping any special character present in the handle which is causing troubles for fetching the user details for some of the handles e.g. any handle that has `[` or `]` in it which in turn causes `500` error from the member api.
Purpose of this ticket is to update the https://github.com/topcoder-platform/tc-notifications/blob

[2019-05-15 20:12] gondzo commented on #115
can we configure a health check for ecs that would check the consumer and scheduler? maybe using https://github.com/topcoder-platform/topcoder-healthcheck-dropin ?

[2019-05-16 02:01] maxceem commented on #121
@vikasrohit yes, can handle it this week. Is there by any chance any user on DEV which can be used for testing? I think we cannot register a new user with such special characters.

[2019-05-16 09:07] vikasrohit commented on #121
@maxceem I am not aware of any such user in dev, but there should be some definitely. I will look into it, and update if I can find one. Meanwhile, you can test the issue and most probably fix it as well, by assuming few hypothetical usernames containing these reserved keywords. As of now, member api would return `500` error and if escaped properly, it would return `200` with empty result set.

[2019-05-16 10:19] maxceem commented on #121
@vikasrohit The only issue is with this place https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/service.js#L169 we include a list of handles without quotes:
[code]

In the other place https://github.com/topcoder-platform/tc-notifications/blob/dev/src/common/tcApiHelper.js#L86 we include handles in double quotes:
[code]
And it doesn't produce an error in member service even if

[2019-05-16 10:34] maxceem commented on #121
@vikasrohit I've created a PR as per my findings https://github.com/topcoder-platform/tc-notifications/pull/124/files

Note, that handles containing `[` or `]` work fine after this fix.'

The only thing, I did test fix for this place https://github.com/topcoder-platform/tc-notifications/pull/124/files#diff-981bb6e6585b27c21e9b46950b61ca4cR86

The fix is very small but still, can we test it after d

[2019-05-16 11:10] vikasrohit commented on #121
Thanks @maxceem I have tested on production with `"` around the handle which contains `[` and `]` both and it seems to work as well.

Mention a user with such handle in any post to call that code.

[2019-05-16 11:11] vikasrohit commented on #121
Also, could you please create hotfix for it?

[2019-05-16 15:05] maxceem commented on #121
@vikasrohit here is a hotfix https://github.com/topcoder-platform/tc-notifications/pull/127

[2019-05-17 06:05] vikasrohit commented on #121
Thanks @maxceem

[2019-05-17 10:33] vikasrohit commented on #115
@gondzo sorry for the delayed response, however, we already have the healthcheck dropin in place. It seems like the custom health check function is not able to determine that kafka consumer is in stale state and hence it is always returning `true` for health check. Do you have idea about determining the correct status of the kafka consumer with `no-kafka` library?

[2019-05-20 10:39] vikasrohit opened #129 "Create SumoLogic alert for missing notification for mentioned user"
We need to setup the sumo logic alert to detect presence of `Unable to send notification to mentioned user` to alert about the situation where we are skipping the notification to a user who is mentioned inside a post after fixes made in https://github.com/topcoder-platform/tc-notifications/pull/128.

fyi @sachin-maheshwari @mtwomey @RishiRajSahu

[2019-05-22 08:59] vikasrohit commented on #94
@gondzo do you think you would be able to handle this?

[2019-05-23 09:58] vikasrohit commented on #129
We need to add `Unable to find user with handle` to detect failure of sending notifications to users for whom we are unable to find details from member search.

[2019-07-18 05:05] maxceem opened #142 "Update links to post in email notifications"
In the last release `2.4.13` we updated URLs for posts inside Connect App.

We should now update links inside post email notifications:

![image](https://user-images.githubusercontent.com/146016/61378716-98b65800-a8d8-11e9-8d27-bc8d6c25f677.png)

So far we are redirecting old links to the new links client-side so no functionality is broken.

[2019-07-23 02:51] maxceem commented on #142
This has been done in the hotfix https://github.com/topcoder-platform/tc-notifications/pull/143

[2019-07-23 05:25] #142 closed

[2019-11-14 05:23] maxceem opened #163 "Add confirm prompt for "npm run reset:db""
A command `npm run reset:db` to recreate DB schema has been [added](https://github.com/topcoder-platform/tc-notifications/commit/0963c2046f19407c6ff4700d481f2673eb8018b8
), so we don't need to uncomment code [here](https://github.com/topcoder-platform/tc-notifications/blob/v5-upgrade/connect/connectNotificationServer.js#L505-L512) or [here](https://github.com/topcoder-platform/tc-notifications/blo

[2020-01-22 14:46] sachin-maheshwari opened #171 "Filter notification specific to platform."
Provide support in API call to filter platform specific notification

[2020-01-22 14:48] sachin-maheshwari commented on #171
Fixed and Released in PR - https://github.com/topcoder-platform/tc-notifications/pull/168

[2020-01-27 14:13] lakshmiathreya commented on #171
@sachin-maheshwari i am unable to close the Issue. Pl add me to Repo.

[2020-01-27 14:38] sachin-maheshwari commented on #171
@lakshmiathreya  done

[2020-02-25 12:11] sachin-maheshwari opened #175 "Need Broadcast Notification feature"
![Bulk TC-NOTIFICATIONS-Broadcast (1)](https://user-images.githubusercontent.com/6467888/75246514-ee030200-57f5-11ea-9a60-eb1f63a8eb3e.png)

[2020-02-25 12:12] sachin-maheshwari commented on #175
Expecting following broadcast message format -
{
 "topic": "admin.notification.broadcast",
 "originator": "admin-app-postman",
 "timestamp": "2020-02-20T17:32:08.214Z",
 "mime-type": "application/json",
 "payload": {
    "message" : "This broadcast message for 'Cognitive' community members, who have skill either in 'AngularJS' or '.NET'",
    "recipients": {
        "groups":  ["Cognitive"],

[2020-02-25 12:20] sachin-maheshwari commented on #175
Dev PR : https://github.com/topcoder-platform/tc-notifications/pull/174
Prod PR : https://github.com/topcoder-platform/tc-notifications/pull/176

[2020-02-26 03:26] lakshmiathreya commented on #175
@sachin-maheshwari can we discuss reg Testing for this?

[2020-02-26 07:13] sachin-maheshwari commented on #175
@lakshmiathreya  sure.

[2020-02-28 23:37] gondzo opened #180 "Post attachments not shown in notification email"
Post attachments are not rendered in the notification email so the user is not aware there are any attachments in the message posted on connect

connect message
![image](https://user-images.githubusercontent.com/3051646/75595109-60404480-5a8b-11ea-88c8-30bf1a377bb6.png)

received email
![image](https://user-images.githubusercontent.com/3051646/75595169-954c9700-5a8b-11ea-9c5e-d34517fd44c5.png)

cc

[2020-03-02 08:06] #171 closed

[2020-03-02 10:19] vikasrohit commented on #180
Thanks for reporting @gondzo We had it in plan but it is not gaining enough priority as of now. Further, we might need changes in tc-message-service as well to actually send all required data to render the attachments information. Created issue https://github.com/appirio-tech/tc-message-service/issues/116

[2020-03-13 07:23] sachin-maheshwari opened #182 "Broadcast notification - rate limit issue while calling member api"

[2020-03-18 08:46] SathyaJayabal commented on #182
verified on dev env

[2020-03-24 05:53] SathyaJayabal opened #185 "Tracks filter in broadcast messages: Track Settings on profile page must also be considered"
Tracks filter in broadcast messages: Track Settings on profile page must also be considered along with contest history

[2020-04-29 06:14] sachin-maheshwari opened #193 "Add country filter support for broadcast"
Currently we can filter on groups, skills and tracks.

[2020-04-29 11:27] maxceem opened #195 "[Connect] Get rid of connect specific consumers and use generic one"
Form @vikasrohit

[2020-04-29 11:31] vikasrohit commented on #195
@sachin-maheshwari do you think we can now move Connect specific consumer to the generic consumer? It would be great if you can share the details about procedure to do so?

[2020-05-05 04:36] SathyaJayabal commented on #193
verified on dev and prod
![2](https://user-images.githubusercontent.com/58783823/81035318-14a97d00-8eb8-11ea-9583-b49a43154d0e.png)
<img width="1427" alt="Screenshot 2020-04-30 at 10 34 37 AM" src="https://user-images.githubusercontent.com/58783823/81035322-18d59a80-8eb8-11ea-84df-7ca0dad3ab79.png">

[2020-05-06 06:09] lakshmiathreya commented on #193
@drasticdpk pls update findings for Connect email template changes and post them here ... will close Issue once done ...

[2020-05-06 06:57] drasticdpk commented on #193
As discussed with Dev Team, for now there is no needed verification from connect app. So closing this issue. cc @lakshmiathreya @vikasrohit

[2020-05-06 06:57] #193 closed

[2020-05-14 11:10] #182 closed

[2020-05-14 11:14] sachin-maheshwari opened #199 "V5 standards issue"
https://api.topcoder.com/v5/notifications/?platform=community&limit=20 if token expired, giving v3 standards error -
{
  "version": "v3",
  "result": {
    "success": false,
    "status": 403,
    "content": {
      "message": "No token provided."
    }
  }
}
Should we corrected as mentioned standards here  - https://topcoder.atlassian.net/wiki/spaces/CORE/pages/385974273/v5+API+Standards

[2020-06-03 13:57] sachin-maheshwari opened #200 "Duplicate broadcast message issue"

[2020-06-04 08:36] sachin-maheshwari commented on #200
PR https://github.com/topcoder-platform/tc-notifications/pull/201

[2020-06-04 09:11] sachin-maheshwari commented on #199
Need to change in core lib - https://github.com/appirio-tech/tc-core-library-js/blob/4827b29784f4ac872789a0cbe8b9b07f641bbb7d/lib/util.js#L17

[2021-08-04 11:33] maxceem opened #215 "Improve Universal Notifications Payload"
### Background

At the moment to send email or web notification we require to `userId` and/or `email` address as per the Kafka Message payload format https://gist.github.com/maxceem/bb2ad68d2f8a790f01e3326f9f8015eb#file-notification-action-create-js-L9-L48

Though sometimes service which sends notification doesn't know `userId`/`email` and have just a `handle` for example. We don't want to ask eac

[2021-08-04 13:54] maxceem commented on #215
@eisbilir one more small change in the kafka message payload format. It appears that Bus API doesn't allow sending Kafka Events with `payload: []` which is an array, it only allows the payload to be an `object`.

Can we please update supported payload from `payload: []` to `payload: { notifications: [] }`. I've already updated Event Example here https://gist.github.com/maxceem/bb2ad68d2f8a790f01e3

[2021-08-05 01:03] eisbilir commented on #215
@maxceem `https://api.topcoder-dev.com/v5/users/{uuid}?enrich=true` is not returning email address

[2021-08-05 02:35] eisbilir commented on #215
PR https://github.com/topcoder-platform/tc-notifications/pull/216
I tried the workaround UUID => userId => email

[2021-08-07 07:53] maxceem commented on #215
@eisbilir your solution `UUID => userId => email` works great, and I don't see a better way.

During testing of the PR it failed, but it only fails for some users who most likely don't have V3 user profile because of data inconsistency on DEV.

Thanks!

[2021-08-07 08:04] maxceem commented on #215
This was deployed to DEV and tested locally, closing.

Payment processed by https://www.topcoder.com/challenges/7e694e52-5d85-4c63-845b-b561c7d661ec

[2021-08-07 08:04] #215 closed

[2021-08-11 11:05] maxceem opened #218 "Support "taas" platform"
When retreiving notifications using endpoint `GET https://api.topcoder-dev.com/v5/notifications/list?read=false&platform=connect&per_page=1000` we can filter notifications by the `platform` https://github.com/topcoder-platform/tc-notifications/blob/dev/src/services/NotificationService.js#L199-L206.

At the moment we only support 2 platforms: `connect` which retunrs only notification types which st